body {
	margin: 0; 
	height: 100vh;
}

canvas {
	display: block;
}

#navb {
	position: absolute;
	top: 0px;
	width: 100%;
	color: black;
}

.navbar-nav > li{
	margin-left:10px;
	margin-right:10px;
}

#wer{
	position: absolute;
	top: 0px;
	width: 100%;
}

#color{
	position: absolute;
    display: block;
    z-index: 99;
    bottom: 0px;
    width: 100%;
}

.warna {
  float:left;
  width:100%;
  height: 70px

}

.warna:hover{
	margin-top: -10px;
	height:80px;
}

.nav-link{
	color: black;
}

#dup{
	position: absolute;
    display: block;
    bottom: 120px;
    left: 10px
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index:1000;
}

 body{
            width: 100%;
            height: 100vh;
            background-color: #555;
            display: flex;
            justify-content: center;
            align-items: center;
            }
        .water{
            width:400px;
            height: 400px;
            background-color: skyblue;
            border-radius: 50%;
            position: relative;
            box-shadow: inset 0 0 30px 0 rgba(0,0,0,.5), 0 4px 10px 0 rgba(0,0,0,.5);
            overflow: hidden;
        }
        .water:before, .water:after{
            content:'';
            position: absolute;
            width:400px;
            height: 400px;
            top:-150px;
            background-color: #fff;
        }
        .water:before{
            border-radius: 45%;
            background:rgba(255,255,255,.7);
            animation:wave 5s linear infinite;
        }
        .water:after{
            border-radius: 35%;
            background:rgba(255,255,255,.3);
            animation:wave 5s linear infinite;
        }
        @keyframes wave{
            0%{
                transform: rotate(0);
            }
            100%{
                transform: rotate(360deg);
            }
        }